guesses_container: {
  height: '100%',
  width: '50%',
  position: 'absolute',
  justifyContent: 'center',
  right: '2%',
  marginTop: 14
},
guesses_frame: {
  marginBottom: 40
},
words_container: {
  height: '100%',
  width: '50%',
  left: '-17.5%',
  justifyContent: 'center'
},
words_frame: {
  borderWidth: 0,
  marginBottom: 40,
  flexDirection: 'row',
},
words_text: {
  color: '#2699FB',
  fontSize: 20,
  fontWeight: '800'
},
viewport: {
  position: 'absolute',
  left: 0,
  right: 0,
  top: 0,
  bottom: 0,
  background: '#FFFFFF',
  alignItems: 'center',
},
content_frame:{
  marginTop: 60,
  height: 450,
  width: 342,
  borderWidth: 1,
  borderColor: "#000000",
  padding: 10,
  flexDirection: 'row',
  justifyContent: 'center'
},
problem_selection: {
  flexDirection: 'row',
  top: '5%',
  width: 327,
  height: 42,
  alignItems: 'center',
  backgroundColor: '#E5EFF5',
  borderRadius: 5
},
problem_desc: {
  color: '#2699FB',
  marginHorizontal: '33%',
  width: 327,
},
button_container: {
  top: '5%',
  width: 327,
  height: 48,
  backgroundColor: '#2699FB',
  borderRadius: 5,
  alignItems: 'center',
  justifyContent: 'center'
},
button_submit: {
  color: '#FFFFFF',
  fontWeight: '800',
  fontSize: 18
}
